.about-page {
    padding-top: 80px; /* to account for the fixed header */
    text-align: center;
}

.about-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.about-content img {
    /*border-radius: 50%;*/
    width: 150px;
    height: 150px;
    margin-right: 20px;
}